<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbit.dao.PluginDao">
  <resultMap id="BaseResultMap" type="com.jbit.entity.Plugin">
    <id column="name" jdbcType="VARCHAR" property="name" />
    <result column="dl" jdbcType="VARCHAR" property="dl" />
  </resultMap>
  <sql id="Base_Column_List">
    name, dl
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from plugin
    where name = #{name,jdbcType=VARCHAR}
  </select>
</mapper>