<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbit.dao.ProxiesPrivDao">
  <resultMap id="BaseResultMap" type="com.jbit.entity.ProxiesPriv">
    <id column="Host" jdbcType="CHAR" property="host" />
    <id column="User" jdbcType="CHAR" property="user" />
    <id column="Proxied_host" jdbcType="CHAR" property="proxiedHost" />
    <id column="Proxied_user" jdbcType="CHAR" property="proxiedUser" />
    <result column="With_grant" jdbcType="BIT" property="withGrant" />
    <result column="Grantor" jdbcType="CHAR" property="grantor" />
    <result column="Timestamp" jdbcType="TIMESTAMP" property="timestamp" />
  </resultMap>
  <sql id="Base_Column_List">
    Host, User, Proxied_host, Proxied_user, With_grant, Grantor, Timestamp
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.jbit.entity.ProxiesPrivKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from proxies_priv
    where Host = #{host,jdbcType=CHAR}
      and User = #{user,jdbcType=CHAR}
      and Proxied_host = #{proxiedHost,jdbcType=CHAR}
      and Proxied_user = #{proxiedUser,jdbcType=CHAR}
  </select>
</mapper>