<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbit.dao.TablesPrivDao">
  <resultMap id="BaseResultMap" type="com.jbit.entity.TablesPriv">
    <id column="Host" jdbcType="CHAR" property="host" />
    <id column="Db" jdbcType="CHAR" property="db" />
    <id column="User" jdbcType="CHAR" property="user" />
    <id column="Table_name" jdbcType="CHAR" property="tableName" />
    <result column="Grantor" jdbcType="CHAR" property="grantor" />
    <result column="Timestamp" jdbcType="TIMESTAMP" property="timestamp" />
    <result column="Table_priv" jdbcType="CHAR" property="tablePriv" />
    <result column="Column_priv" jdbcType="CHAR" property="columnPriv" />
  </resultMap>
  <sql id="Base_Column_List">
    Host, Db, User, Table_name, Grantor, Timestamp, Table_priv, Column_priv
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.jbit.entity.TablesPrivKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tables_priv
    where Host = #{host,jdbcType=CHAR}
      and Db = #{db,jdbcType=CHAR}
      and User = #{user,jdbcType=CHAR}
      and Table_name = #{tableName,jdbcType=CHAR}
  </select>
</mapper>