<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbit.dao.TimeZoneTransitionTypeDao">
  <resultMap id="BaseResultMap" type="com.jbit.entity.TimeZoneTransitionType">
    <id column="Time_zone_id" jdbcType="INTEGER" property="timeZoneId" />
    <id column="Transition_type_id" jdbcType="INTEGER" property="transitionTypeId" />
    <result column="Offset" jdbcType="INTEGER" property="offset" />
    <result column="Is_DST" jdbcType="TINYINT" property="isDst" />
    <result column="Abbreviation" jdbcType="CHAR" property="abbreviation" />
  </resultMap>
  <sql id="Base_Column_List">
    Time_zone_id, Transition_type_id, Offset, Is_DST, Abbreviation
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.jbit.entity.TimeZoneTransitionTypeKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from time_zone_transition_type
    where Time_zone_id = #{timeZoneId,jdbcType=INTEGER}
      and Transition_type_id = #{transitionTypeId,jdbcType=INTEGER}
  </select>
</mapper>