<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbit.dao.TimeZoneNameDao">
  <resultMap id="BaseResultMap" type="com.jbit.entity.TimeZoneName">
    <id column="Name" jdbcType="CHAR" property="name" />
    <result column="Time_zone_id" jdbcType="INTEGER" property="timeZoneId" />
  </resultMap>
  <sql id="Base_Column_List">
    Name, Time_zone_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from time_zone_name
    where Name = #{name,jdbcType=CHAR}
  </select>
</mapper>