<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbit.dao.TimeZoneLeapSecondDao">
  <resultMap id="BaseResultMap" type="com.jbit.entity.TimeZoneLeapSecond">
    <id column="Transition_time" jdbcType="BIGINT" property="transitionTime" />
    <result column="Correction" jdbcType="INTEGER" property="correction" />
  </resultMap>
  <sql id="Base_Column_List">
    Transition_time, Correction
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from time_zone_leap_second
    where Transition_time = #{transitionTime,jdbcType=BIGINT}
  </select>
</mapper>